* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  color: #45515F;
  font-family: "Rubik";
  font-weight: 400;
  background-color: #F6F9FC;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 72.7777777778rem;
  margin: 0rem auto;
  padding: 0rem 0.8333333333rem;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.but {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 116%;
  text-transform: uppercase;
  padding: 1.1666666667rem 2.4444444444rem 1.2222222222rem;
  border-radius: 0.4444444444rem;
  background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF7347 73.78%);
}
@media (min-width: 700px) {
  .but:hover {
    color: #45515F;
    cursor: pointer;
  }
}

.title {
  font-weight: 600;
  font-size: 2.1111111111rem;
  line-height: 118%;
  letter-spacing: 0.0555555556rem;
}

.text {
  font-weight: 300;
  font-size: 0.8888888889rem;
  line-height: 118.75%;
  color: #536473;
}

body._hidden {
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 20;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7.6666666667rem;
  padding-top: 0.5555555556rem;
  padding-bottom: 0.5555555556rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__logo {
  margin-right: calc(0rem + 20 * (100vw - 17.7777777778rem) / 1600);
}
.header__menu {
  margin-right: 1.1111111111rem;
}
@media (max-width: 700px) {
  .header__menu {
    margin-right: 0rem;
  }
}
.header__wrap-but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__wrap-but > *:not(:last-child) {
  margin-right: 1.1111111111rem;
}
.header__but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7222222222rem;
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF7B00;
  border-radius: 0.4444444444rem;
  padding: 1rem 1.8333333333rem 0.9444444444rem 1.3888888889rem;
  border: 0.1111111111rem solid transparent;
}
@media (min-width: 700px) {
  .header__but:hover {
    color: #000000;
    cursor: pointer;
  }
}
@media (max-width: 1500px) {
  .header__but {
    padding: 1rem 1.5rem 0.9444444444rem 1.5rem;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5555555556rem;
  padding-bottom: 0.5555555556rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__list > *:not(:last-child) {
  margin-right: 2.5rem;
}
@media (max-width: 700px) {
  .menu__list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20;
    padding-top: 2.2222222222rem;
    padding-left: 2.2222222222rem;
    padding-bottom: 2.2222222222rem;
    display: none;
  }
  .menu__list > *:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 0.8333333333rem;
  }
  .menu__list._active {
    display: block;
  }
}
.menu__item {
  position: relative;
}
@media (max-width: 700px) {
  .menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.menu__link {
  font-weight: 500;
  line-height: 116%;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 1500px) {
  .menu__link {
    font-size: 0.7777777778rem;
  }
}
@media (max-width: 700px) {
  .menu__link {
    font-size: 1.1111111111rem;
  }
}
@media (min-width: 700px) {
  .menu__link:hover {
    color: #45515F;
  }
}

.logo {
  font-size: calc(1.3888888889rem + 8 * (100vw - 17.7777777778rem) / 1600);
  line-height: 79%;
  color: #FFFFFF;
}

.icon-menu {
  display: none;
}
@media (max-width: 700px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2.1666666667rem;
    height: 2.1666666667rem;
    border-radius: 0.4444444444rem;
    z-index: 20;
  }
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  left: 25%;
  position: absolute;
  width: 1.1111111111rem;
  height: 0.1666666667rem;
  background: #FF7B00;
  border-radius: 0.4444444444rem;
}
.icon-menu::before {
  top: 27%;
}
.icon-menu::after {
  bottom: 28%;
}
.icon-menu span {
  top: 46%;
}

.page__clients {
  margin-top: 1.6666666667rem;
}
.main {
  position: relative;
}
.main__container {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1500px) {
  .main__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.main__offers {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  padding-top: 12.7777777778rem;
}
@media (max-width: 1500px) {
  .main__offers {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-top: 6.5555555556rem;
    margin-bottom: 2.2222222222rem;
  }
}
.main__wrap-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1500px) {
  .main__wrap-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main__girl {
  width: 25.4444444444rem;
  height: 38.7222222222rem;
  margin-top: 3.6111111111rem;
  z-index: 20;
}
@media (max-width: 1500px) {
  .main__girl {
    margin-top: -5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24.8888888889rem;
            flex: 0 0 24.8888888889rem;
    height: 36.6666666667rem;
  }
}
@media (max-width: 750px) {
  .main__girl {
    display: none;
  }
}
.main__range {
  position: relative;
  top: -2.2222222222rem;
  left: -3.3333333333rem;
  z-index: 10;
  margin-top: 8.7777777778rem;
  width: 25.4444444444rem;
  height: 32.3333333333rem;
}
@media (max-width: 1500px) {
  .main__range {
    margin-top: 0rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22.2222222222rem;
            flex: 0 0 22.2222222222rem;
  }
}
@media (max-width: 750px) {
  .main__range {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20rem;
            flex: 0 0 20rem;
    left: 0;
    position: static;
    margin-bottom: 2.2222222222rem;
  }
}
@media (max-width: 340px) {
  .main__range {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 18.8888888889rem;
            flex: 0 0 18.8888888889rem;
  }
}
.main__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .offers-main {
    text-align: center;
  }
}
.offers-main__but {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  margin-bottom: 1.1111111111rem;
  margin-top: 1.1111111111rem;
}
@media (max-width: 1500px) {
  .offers-main__but {
    margin-bottom: 1.3888888889rem;
  }
}
.offers-main__img {
  position: absolute;
  z-index: 10;
  width: 3.1111111111rem;
  height: 3.1111111111rem;
  left: 2.09%;
  top: -10.61%;
}
@media (max-width: 700px) {
  .offers-main__img {
    left: 3%;
    width: 2.5555555556rem;
    height: 2.5555555556rem;
  }
}
.offers-main__link {
  font-weight: 500;
  font-size: 1.2222222222rem;
  line-height: 118%;
  text-transform: uppercase;
  color: #3C4260;
  padding-top: 0.8333333333rem;
  padding-bottom: 0.8333333333rem;
  padding-left: 4.1666666667rem;
  padding-right: 1.2777777778rem;
  background: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(0.6666666667rem);
          backdrop-filter: blur(0.6666666667rem);
  border-radius: 0.6666666667rem;
  white-space: nowrap;
  position: relative;
  z-index: 5;
}
@media (max-width: 700px) {
  .offers-main__link {
    font-size: 1rem;
    padding-left: 3.0555555556rem;
    padding-right: 0.8333333333rem;
  }
}
.offers-main__title {
  font-weight: 600;
  font-size: 2.6666666667rem;
  line-height: 111.5%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.8333333333rem;
}
@media (max-width: 1500px) {
  .offers-main__title {
    margin-bottom: 0.2777777778rem;
    font-size: 2.1666666667rem;
  }
}
@media (max-width: 600px) {
  .offers-main__title {
    font-size: 1.6666666667rem;
  }
}
.offers-main__subtitle {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 133.5%;
  color: #FFFFFF;
}
@media (max-width: 1500px) {
  .offers-main__subtitle {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.3888888889rem;
  }
}
@media (max-width: 600px) {
  .offers-main__subtitle {
    font-size: 1.1111111111rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.offers-main__text {
  font-weight: 300;
  font-size: 0.7777777778rem;
  line-height: 145.5%;
  color: #FFFFFF;
  margin-top: 6.1111111111rem;
}
@media (max-width: 1500px) {
  .offers-main__text {
    margin-top: 0.5555555556rem;
    margin-bottom: 1.6666666667rem;
  }
}

.range-main {
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(0, 0, 0, 0.05);
  -webkit-backdrop-filter: blur(0.6666666667rem);
          backdrop-filter: blur(0.6666666667rem);
  border-radius: 0.8333333333rem;
  padding-top: 1.6111111111rem;
  padding-left: 3.3333333333rem;
  padding-bottom: 2rem;
  padding-right: 3.3333333333rem;
}
@media (max-width: 1500px) {
  .range-main {
    padding-right: 1.1111111111rem;
  }
}
@media (max-width: 750px) {
  .range-main {
    padding-left: 1.5555555556rem;
    padding-right: 2rem;
  }
}
.range-main__items > *:not(:last-child) {
  margin-bottom: 1.6666666667rem;
}
.range-main__numbers {
  margin-top: 0.5555555556rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.range-main__nums {
  font-size: 0.7222222222rem;
  line-height: 115%;
  color: #C0C2C5;
}
.range-main__title {
  font-weight: 400;
  font-size: 1.2222222222rem;
  line-height: 118%;
  margin-bottom: 2.5rem;
  text-align: left;
}
.range-main__button {
  text-align: center;
  margin-top: 1.6666666667rem;
}
.range-main__link {
  margin-bottom: 3.5rem;
}
.range-main__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.range-main__description > *:not(:last-child) {
  margin-right: 2.8888888889rem;
}
.range-main__description-items > *:not(:last-child) {
  margin-bottom: 1.1666666667rem;
}
.range-main__text {
  font-weight: 300;
  font-size: 0.7777777778rem;
  line-height: 130%;
  margin-bottom: 0.1111111111rem;
}
.range-main__num {
  font-weight: 500;
  line-height: 116%;
  color: #F28925;
}

.offers__container {
  padding-top: 2.7777777778rem;
  padding-bottom: 2.7777777778rem;
}
@media (max-width: 1200px) {
  .offers__container {
    padding-bottom: 3.8333333333rem;
  }
}
@media (max-width: 500px) {
  .offers__container {
    padding-bottom: 0rem;
  }
}
.offers__title {
  margin-bottom: 2rem;
  text-align: center;
}
@media (max-width: 1200px) {
  .offers__title {
    margin-bottom: 2.7777777778rem;
  }
}
.offers__cards {
  margin-bottom: 1.6666666667rem;
}
@media (max-width: 1200px) {
  .offers__cards {
    margin-bottom: 1.9444444444rem;
  }
}

.cards-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -0.7777777778rem;
  margin-right: -0.7777777778rem;
}
@media (max-width: 1200px) {
  .cards-offers {
    margin-left: 0rem;
    margin-right: 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.cards-offers__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding-left: 0.7777777778rem;
  padding-right: 0.7777777778rem;
}
@media (max-width: 1200px) {
  .cards-offers__item {
    width: 22.6666666667rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .cards-offers__item:not(:last-child) {
    margin-bottom: 0.8333333333rem;
  }
}
@media (max-width: 500px) {
  .cards-offers__item {
    width: 16.6666666667rem;
  }
}

.card-offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1.9444444444rem;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 1.2222222222rem;
  -webkit-backdrop-filter: blur(0.6666666667rem);
          backdrop-filter: blur(0.6666666667rem);
  -webkit-box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(84, 104, 123, 0.05);
          box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(84, 104, 123, 0.05);
  position: relative;
  overflow: hidden;
}
.card-offers__ribbon {
  position: absolute;
  top: 0.8333333333rem;
  left: -2.2222222222rem;
  padding-left: 2.7777777778rem;
  padding-right: 2.7777777778rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 500px) {
  .card-offers__ribbon {
    top: 0.6666666667rem;
    left: -2.7777777778rem;
    font-size: 0.7777777778rem;
  }
}
.card-offers__ribbon-yellow {
  background-color: #FFC83E;
}
.card-offers__ribbon-orange {
  background-color: #FF7B00;
}
.card-offers__ribbon-red {
  background-color: #FA5914;
}
.card-offers__name {
  font-weight: 700;
  font-size: 1.5555555556rem;
  line-height: 117%;
  margin-bottom: 0.7777777778rem;
}
.card-offers__name span {
  color: #45515F;
  margin-left: 0.5555555556rem;
}
.card-offers__name span:not(:last-child) {
  margin-right: 0.5555555556rem;
}
@media (max-width: 500px) {
  .card-offers__name {
    font-size: 1.1111111111rem;
  }
}
.card-offers__name--yellow {
  color: #FFC83E;
}
.card-offers__name-orange {
  color: #FF7B00;
}
.card-offers__name-red {
  color: #FA5914;
}
.card-offers__description {
  font-weight: 300;
  font-size: 0.8333333333rem;
  line-height: 182%;
}
.card-offers__description span:last-child {
  color: #45515F;
  margin-left: 0.5555555556rem;
  font-weight: 700;
}
.card-offers__text {
  text-align: center;
}

.icon-calendar {
  margin-right: 0.5555555556rem;
}

.icon-rub {
  margin-right: 0.5555555556rem;
}

.payment {
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 2.5rem;
}
.payment__container {
  padding-top: 3.0555555556rem;
  padding-bottom: 2.5555555556rem;
  text-align: center;
}
@media (max-width: 500px) {
  .payment__container {
    padding-top: 0rem;
  }
}
.payment__title {
  margin-bottom: 0.7777777778rem;
}
.payment__subtitle {
  font-size: 0.7222222222rem;
  line-height: 145.5%;
  margin-bottom: 2.4444444444rem;
}
.payment__body {
  margin: 0rem auto;
}
.body-payment {
  width: 46.6666666667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 900px) {
  .body-payment {
    width: 40rem;
  }
}
@media (max-width: 750px) {
  .body-payment {
    width: 20rem;
  }
}
@media (max-width: 400px) {
  .body-payment {
    width: 16.6666666667rem;
  }
}
.body-payment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666%;
          flex: 0 0 16.6666%;
  height: 7.3888888889rem;
  background: #F6F9FC;
  -webkit-backdrop-filter: blur(0.6666666667rem);
          backdrop-filter: blur(0.6666666667rem);
  border-radius: 1.2222222222rem;
  margin-bottom: 1.6666666667rem;
}
.body-payment__item:hover {
  cursor: pointer;
}
.body-payment__item:not(:nth-child(5n)):not(:last-child) {
  margin-right: 1.9444444444rem;
}
@media (max-width: 900px) {
  .body-payment__item {
    height: 6.7222222222rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.4%;
            flex: 0 0 16.4%;
  }
  .body-payment__item:not(:nth-child(5n)):not(:last-child) {
    margin-right: 1.7777777778rem;
  }
}
@media (max-width: 750px) {
  .body-payment__item {
    height: 5.3888888889rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28.57%;
            flex: 0 0 28.57%;
  }
  .body-payment__item:not(:nth-child(5n)):not(:last-child) {
    margin-right: 0rem;
  }
  .body-payment__item:not(:nth-child(3n)):not(:last-child) {
    margin-right: 1rem;
  }
}
@media (max-width: 400px) {
  .body-payment__item {
    height: 5.3888888889rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 32.57%;
            flex: 0 0 32.57%;
    margin-bottom: 1rem;
  }
  .body-payment__item:not(:nth-child(3n)):not(:last-child) {
    margin-right: 0rem;
  }
  .body-payment__item:not(:nth-child(2n)):not(:last-child) {
    margin-right: 1.3888888889rem;
  }
}
.body-payment__img {
  width: 3.0555555556rem;
  height: 2.1666666667rem;
  margin: 0px auto;
  margin-bottom: 0.6666666667rem;
}
@media (max-width: 900px) {
  .body-payment__img {
    width: 2.8333333333rem;
    height: 2.0555555556rem;
  }
}
@media (max-width: 750px) {
  .body-payment__img {
    width: 2.2222222222rem;
    height: 1.6111111111rem;
  }
}

.icon-arrow-right {
  font-size: 0.5555555556rem;
}

.reviews {
  padding-top: 3.6111111111rem;
  padding-bottom: 2.1111111111rem;
}
@media (max-width: 800px) {
  .reviews {
    padding-top: 0rem;
  }
}
.reviews__title {
  text-align: center;
  margin-bottom: 2.3888888889rem;
}
.reviews__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews__button > :not(:last-child) {
  margin-right: 0.5555555556rem;
}
@media (max-width: 800px) {
  .reviews__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews__button > :not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 0.7222222222rem;
  }
}
.reviews__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #45515F;
  font-weight: 500;
  font-size: 0.8888888889rem;
  line-height: 126%;
  text-transform: uppercase;
  padding: 1.1666666667rem 1.7777777778rem 1.2222222222rem 1.7777777778rem;
  border: 0.0555555556rem solid #C9D2DD;
  border-radius: 0.4444444444rem;
  background-color: #F6F9FC;
}
.reviews__link:hover {
  cursor: pointer;
  background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF7347 73.78%);
}

.body-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1350px) {
  .body-reviews {
    width: 42.6666666667rem;
    margin: 0px auto;
  }
}
@media (max-width: 800px) {
  .body-reviews {
    width: 20rem;
  }
}
@media (max-width: 400px) {
  .body-reviews {
    width: 15.5555555556rem;
  }
}
.body-reviews__item {
  margin-bottom: 2.1666666667rem;
}
.body-reviews__item:not(:nth-child(3n)) {
  margin-right: 1.5555555556rem;
}
.body-reviews__item:last-child {
  margin-right: 0rem;
}
@media (max-width: 1350px) {
  .body-reviews__item:not(:nth-child(3n)) {
    margin-right: 0rem;
  }
  .body-reviews__item:not(:nth-child(2n)) {
    margin-right: 0.8333333333rem;
  }
  .body-reviews__item:last-child {
    display: none;
  }
  .body-reviews__item:first-child {
    margin-right: 0.8333333333rem;
  }
}
@media (max-width: 800px) {
  .body-reviews__item {
    margin-bottom: 1.6666666667rem;
  }
  .body-reviews__item:first-child {
    margin-right: 0rem;
  }
  .body-reviews__item:nth-last-child(2) {
    display: none;
  }
}

.reviews-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.875%;
          flex: 0 0 31.875%;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(84, 104, 123, 0.05);
          box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(84, 104, 123, 0.05);
  -webkit-backdrop-filter: blur(0.6666666667rem);
          backdrop-filter: blur(0.6666666667rem);
  border-radius: 1.2222222222rem;
  padding-top: 2.8333333333rem;
  padding-bottom: 2.6111111111rem;
  padding-left: 0.8333333333rem;
  padding-right: 0.8333333333rem;
}
@media (max-width: 1350px) {
  .reviews-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }
}
@media (max-width: 800px) {
  .reviews-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-top: 1.7222222222rem;
    padding-bottom: 2.2777777778rem;
  }
}
.reviews-item__wrap {
  max-width: 17.8333333333rem;
  margin: 0px auto;
}
.reviews-item__img {
  width: 5.3333333333rem;
  height: 5.3333333333rem;
  margin-bottom: 1.4444444444rem;
}
.reviews-item__name {
  font-weight: 700;
  line-height: 116%;
  margin-bottom: 1.0555555556rem;
}
.reviews-item__address {
  font-size: 0.8333333333rem;
  line-height: 120%;
  color: #93A0AB;
  margin-bottom: 0.9444444444rem;
}
.reviews-item__text {
  margin-bottom: 1.5rem;
}
.reviews-item__rating > span {
  font-size: 0.5555555556rem;
}

.icon-local {
  margin-right: 0.4444444444rem;
}

.clients {
  position: relative;
}
.clients__container {
  padding-top: 3.3333333333rem;
  padding-bottom: 1.6666666667rem;
  position: relative;
  z-index: 10;
}
@media (max-width: 800px) {
  .clients__container {
    padding-top: 1.6666666667rem;
    padding-bottom: 0rem;
  }
}
.clients__title {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 2.0555555556rem;
}
@media (max-width: 800px) {
  .clients__title {
    font-size: 1.6666666667rem;
  }
}
.clients__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.body-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1300px) {
  .body-clients {
    width: 42.6111111111rem;
    margin: 0px auto;
  }
}
@media (max-width: 800px) {
  .body-clients {
    width: 16.1111111111rem;
  }
}
.body-clients__item {
  margin-bottom: 1.6666666667rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.875%;
          flex: 0 0 31.875%;
}
.body-clients__item:not(:nth-child(3n)):not(:last-child) {
  margin-right: 1.5rem;
}
@media (max-width: 1300px) {
  .body-clients__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }
  .body-clients__item:not(:nth-child(3n)):not(:last-child) {
    margin-right: 0rem;
  }
  .body-clients__item:not(:nth-child(2n)):not(:last-child) {
    margin-right: 0.8333333333rem;
  }
  .body-clients__item:last-child {
    display: none;
  }
}
@media (max-width: 800px) {
  .body-clients__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .body-clients__item:not(:nth-child(2n)):not(:last-child) {
    margin-right: 0rem;
  }
  .body-clients__item:nth-last-child(2) {
    display: none;
  }
}

.cards-clients {
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(84, 104, 123, 0.05);
          box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(84, 104, 123, 0.05);
  -webkit-backdrop-filter: blur(0.6666666667rem);
          backdrop-filter: blur(0.6666666667rem);
  border-radius: 1.2222222222rem;
}
.cards-clients__wrap {
  padding: 1.3888888889rem 0.8333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18.3333333333rem;
  margin: 0px auto;
}
@media (max-width: 500px) {
  .cards-clients__wrap {
    width: 15.5555555556rem;
  }
}
.cards-clients__icons {
  margin-right: 0.4444444444rem;
  font-size: 1.3888888889rem;
  margin-right: 1.3333333333rem;
}
.cards-clients__name {
  font-weight: 500;
  font-size: 0.8888888889rem;
  line-height: 118%;
  margin-bottom: 0.3333333333rem;
}
.cards-clients__text {
  margin-bottom: 0.4444444444rem;
}
.cards-clients__address {
  font-size: 0.8333333333rem;
  line-height: 118%;
  color: #93A0AB;
}

.service__container {
  padding-top: 3.1111111111rem;
  padding-bottom: 2.8888888889rem;
}
@media (max-width: 500px) {
  .service__container {
    padding-bottom: 0rem;
  }
}
.service__title {
  text-align: center;
  margin-bottom: 2.3888888889rem;
}
@media (max-width: 500px) {
  .service__title {
    margin-bottom: 1.1111111111rem;
  }
}
.body-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1350px) {
  .body-service {
    max-width: 42.6666666667rem;
    margin: 0px auto;
  }
}
.body-service__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.82%;
          flex: 0 0 48.82%;
  padding: 2.4444444444rem 2.5rem;
  background: rgba(255, 255, 255, 0.95);
  border: 0.0555555556rem solid #F8EBEB;
  -webkit-box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(84, 104, 123, 0.05);
          box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(84, 104, 123, 0.05);
  -webkit-backdrop-filter: blur(0.6666666667rem);
          backdrop-filter: blur(0.6666666667rem);
  border-radius: 1.2222222222rem;
  margin-bottom: 1.1111111111rem;
}
.body-service__item:not(:nth-child(2n)):not(:last-child) {
  margin-right: 1.6666666667rem;
}
@media (max-width: 1350px) {
  .body-service__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .body-service__item:not(:nth-child(2n)):not(:last-child) {
    margin-right: 0rem;
  }
}
@media (max-width: 500px) {
  .body-service__item {
    padding: 1.6666666667rem 1.1111111111rem;
  }
}
.body-service__subtitle {
  font-weight: 600;
  font-size: 1.3333333333rem;
  line-height: 118%;
  margin-bottom: 1.7222222222rem;
}
@media (max-width: 500px) {
  .body-service__subtitle {
    margin-bottom: 1.4444444444rem;
  }
}
.body-service__text:not(:last-child) {
  margin-bottom: 1.6666666667rem;
}

.questions {
  position: relative;
  z-index: 5;
}
.questions__container {
  padding-top: 3.2777777778rem;
  padding-bottom: 3.8333333333rem;
}
@media (max-width: 769px) {
  .questions__container {
    padding-bottom: 3.7222222222rem;
  }
}
@media (max-width: 500px) {
  .questions__container {
    padding-bottom: 1.9444444444rem;
    padding-top: 1.8333333333rem;
  }
}
.questions__title {
  text-align: center;
  margin-bottom: 2.0555555556rem;
}
@media (max-width: 500px) {
  .questions__title {
    margin-bottom: 1.6111111111rem;
    font-size: 1.6666666667rem;
  }
}
.questions__item {
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(84, 104, 123, 0.05);
          box-shadow: 0px 0.2222222222rem 2.4444444444rem rgba(84, 104, 123, 0.05);
  -webkit-backdrop-filter: blur(0.6666666667rem);
          backdrop-filter: blur(0.6666666667rem);
  border-radius: 0.6666666667rem;
  padding-top: 1.1666666667rem;
  padding-bottom: 1.3888888889rem;
  padding-left: 1.8333333333rem;
  padding-right: 7.0555555556rem;
  position: relative;
}
.questions__item:not(:last-child) {
  margin-bottom: 0.2222222222rem;
}
@media (max-width: 769px) {
  .questions__item {
    padding-right: 4.3888888889rem;
  }
}
@media (max-width: 500px) {
  .questions__item {
    padding-left: 0.5555555556rem;
    padding-right: 1.6666666667rem;
  }
}
.questions__item._active {
  background: linear-gradient(268.87deg, #FFC83E -5.09%, #FF7347 51.96%);
  color: #FFFFFF;
  padding-bottom: 1.5555555556rem;
}
.questions__item._active .questions__name {
  color: #FFFFFF;
  margin-bottom: 0.9444444444rem;
}
.questions__item._active .questions__name::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.questions__name {
  font-weight: 600;
  font-size: 1.1111111111rem;
  line-height: 120%;
  background-color: transparent;
  color: #45515F;
  margin-right: 1.6666666667rem;
}
.questions__name::after {
  content: "\e904";
  font-family: "icons";
  position: absolute;
  display: block;
  top: 1.1111111111rem;
  right: 2.7777777778rem;
  font-size: 0.5555555556rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 500px) {
  .questions__name {
    font-size: 0.8333333333rem;
    line-height: 118%;
  }
  .questions__name::after {
    right: 1.1111111111rem;
  }
}
.questions__text {
  font-weight: 300;
  font-size: 0.8888888889rem;
  line-height: 100%;
}
@media (max-width: 500px) {
  .questions__text {
    font-size: 0.7777777778rem;
  }
}

.money {
  background-color: #FEFEFE;
}
.money__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 800px) {
  .money__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.money__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-top: 3.3888888889rem;
  padding-bottom: 3.4444444444rem;
  margin-right: 1.3888888889rem;
}
.money__body > *:not(:last-child) {
  margin-bottom: 1.4444444444rem;
}
@media (max-width: 800px) {
  .money__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 3.3333333333rem;
    margin-bottom: 1.7777777778rem;
    margin-right: 0rem;
  }
}
@media (max-width: 800px) {
  .money__body {
    padding-top: 2.1111111111rem;
  }
}
.money__subtitle {
  font-size: 1.5rem;
  line-height: 133.5%;
  color: #536473;
}
.money__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  height: 24.4444444444rem;
  margin: 0px auto;
}
@media (max-width: 800px) {
  .money__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    height: 22.2222222222rem;
  }
}
.money__girl1 {
  z-index: 5;
}
.money__girl2 {
  z-index: 1;
}

.noUi-target {
  border-radius: 0.4444444444rem;
  border: none;
  height: 0.3888888889rem;
  width: 100%;
  background: #ECECEC;
}

.noUi-connect {
  background: linear-gradient(81.55deg, #FFC83E 33.93%, #FF9F47 73.78%);
}

.noUi-horizontal .noUi-handle {
  right: -0.9444444444rem;
  top: -0.3888888889rem;
  width: 1.1666666667rem;
  height: 1.1666666667rem;
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #FFA147;
  cursor: pointer;
}

.noUi-handle:after {
  content: "\e910";
  font-family: "icons";
  display: block;
  position: absolute;
  left: 0.1666666667rem;
  top: 0.3888888889rem;
  color: #ffffff;
  font-size: 0.2777777778rem;
  background: none;
}

.noUi-handle:before {
  content: "\e911";
  font-family: "icons";
  display: block;
  position: absolute;
  left: 0.6666666667rem;
  top: 0.3888888889rem;
  font-size: 0.2777777778rem;
  color: #ffffff;
  background: none;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: none;
  background: transparent;
  color: #45515F;
  padding: 5px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 1.1111111111rem;
  line-height: 83%;
}

.footer {
  position: relative;
}
.footer__container {
  position: relative;
  z-index: 10;
}
.footer__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.footer-wrap {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2.7777777778rem;
  padding-bottom: 2.1111111111rem;
  border-bottom: 0.0555555556rem solid rgba(255, 255, 255, 0.2);
}
.footer-wrap > *:not(:last-child) {
  margin-right: 1.1111111111rem;
}
@media (max-width: 700px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-wrap > *:not(:last-child) {
    margin-right: 0rem;
  }
}
@media (max-width: 700px) {
  .footer-wrap__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 1.3333333333rem;
  }
}
.footer-wrap__menu {
  max-width: 36%;
}
@media (max-width: 1100px) {
  .footer-wrap__menu {
    display: none;
  }
}
.footer-wrap__mail {
  font-size: 0.7222222222rem;
  line-height: 115%;
  color: #FFFFFF;
}
.footer-wrap__mail > span {
  margin-right: 0.5555555556rem;
}
@media (max-width: 700px) {
  .footer-wrap__mail {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.footer-wrap__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 1.2222222222rem;
  line-height: 118%;
  color: #FFFFFF;
}
.footer-wrap__tel > span {
  margin-right: 0.7777777778rem;
}
@media (max-width: 700px) {
  .footer-wrap__tel {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 1.3333333333rem;
  }
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 26.1666666667rem;
}
.menu-footer__list > *:not(:last-child) {
  margin-right: 1.1111111111rem;
}
@media (max-width: 700px) {
  .menu-footer__list > *:not(:last-child) {
    margin-right: 0.5555555556rem;
  }
}
.menu-footer__link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 115%;
  color: #FFFFFF;
}
@media (max-width: 700px) {
  .menu-footer__link {
    font-size: 0.6666666667rem;
  }
}

.creditors {
  padding-top: 1.6666666667rem;
  padding-bottom: 1.5555555556rem;
  position: relative;
  z-index: 10;
}
.creditors__title {
  font-weight: 500;
  line-height: 115%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 1.2777777778rem;
}
.creditors__text {
  font-weight: 300;
  font-size: 0.7222222222rem;
  line-height: 115%;
  color: #FFFFFF;
}